@* <!-- Views/Shared/_Categories-landing.cshtml --> *@
<!-- Categories Section -->
<section class="categories services light-background">

    <div class="row">
      <!-- Kategori Item 1 -->
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="category-card">
          <!-- Gambar -->
          <div class="category-img">
            <img src="~/assets/img/blog/blog-post-1.webp" alt="Design" class="img-fluid">
          </div>
          
          <!-- Judul -->
          <h4><a href="#" class="stretched-link">Design</a></h4>
          
          <!-- Deskripsi -->
          <p>Pelajari prinsip-prinsip desain UI/UX, grafis, dan visual yang menarik dan fungsional.</p>
          
          <!-- Info Footer -->
          <div class="category-info">
            <div class="category-icon">
              <i class="bi bi-activity"></i>
            </div>
            <div class="category-count">
              <span>25 Topik</span>
            </div>
          </div>
        </div>
      </div><!-- End Category Item -->

      <!-- Kategori Item 2 -->
      <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="category-card">
          <div class="category-img">
            <img src="~/assets/img/blog/blog-post-1.webp" alt="Development" class="img-fluid">
          </div>
          <h4><a href="#" class="stretched-link">Development</a></h4>
          <p>Kembangkan aplikasi web dan mobile dengan teknologi terbaru dan best practices.</p>
          <div class="category-info">
            <div class="category-icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <div class="category-count">
              <span>18 Topik</span>
            </div>
          </div>
        </div>
      </div><!-- End Category Item -->

      <!-- Tambahkan item lainnya dengan struktur yang sama -->
      
    </div>
  </div>
</section><!-- End Categories Section -->