@* Views/Shared/_Topics.cshtml *@

<!-- Recent Blog Postst Section -->


            <div class="col-xl-4 col-md-6">
                <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="@Url.Content("~/assets/img/blog/blog-post-1.webp")" class="img-fluid" alt="">
                        <span class="post-date">Frontend</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">Panduan Pemula untuk menjadi Frontend Profesional</h3>

                        <div class="meta d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-calendar3"></i> <span class="ps-2">12/02/2025</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-eye"></i> <span class="ps-2">400 view</span>
                            </div>
                        </div>

                        <hr>

                        <a href="blog-details.html" class="readmore stretched-link"><span>Learn Now</span><i
                                class="bi bi-arrow-right"></i></a>

                    </div>

                </div>
            </div><!-- End post item -->

            <div class="col-xl-4 col-md-6">
                <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="200">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="@Url.Content("~/assets/img/blog/blog-post-2.webp")" class="img-fluid" alt="">
                        <span class="post-date">Frontend</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">Panduan Pemula untuk menjadi Frontend Profesional</h3>

                        <div class="meta d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-calendar3"></i> <span class="ps-2">12/02/2025</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-eye"></i> <span class="ps-2">400 view</span>
                            </div>
                        </div>

                        <hr>

                        <a href="blog-details.html" class="readmore stretched-link"><span>Learn Now</span><i
                                class="bi bi-arrow-right"></i></a>

                    </div>

                </div>
            </div><!-- End post item -->

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="post-item position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="@Url.Content("~/assets/img/blog/blog-post-3.webp")" class="img-fluid" alt="">
                        <span class="post-date">Frontend</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">Panduan Pemula untuk menjadi Frontend Profesional</h3>

                        <div class="meta d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-calendar3"></i> <span class="ps-2">12/02/2025</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-eye"></i> <span class="ps-2">400 view</span>
                            </div>
                        </div>

                        <hr>

                        <a href="blog-details.html" class="readmore stretched-link"><span>Learn Now</span><i
                                class="bi bi-arrow-right"></i></a>

                    </div>
                </div><!-- End post item -->

            </div>

        </div>

</section><!-- /Recent Blog Postst Section -->